# Theoretical Questions

## Python - Data Structure Assignment
-----------------------------------------------------------------
Q1. What are data structures, and why are they important?
-  Data structures are a specific way of organizing data in a well organized  format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively.
- It is important because
    - they make the code more efficient
    - and they make the code easier to understand.
    - Simplify data manipulation (adding, removing, modifying elements)
    - Conserve memory usage
-----------------------------------------------------------------
Q2. Explain the difference between mutable and immutable data types with examples.
-  Mutable data types in which the data can be modified by adding or removing the element .
  -  for example: List , set and ddictionaries.
- Immutable data types in which the data cannot be modified by adding or removing the element.
  -  for example: Stings and Tuples
-----------------------------------------------------------------
Q3. What are the main differences between lists and tuples in Python?
-  Lists are mutable which means the values are editable even after the list is being created, where as, Tuples are immutable which means tuples cannot be modified by adding or removing element.
-----------------------------------------------------------------
Q4. Describe how dictionaries store data.
-  Dictionaries are key-value pairs that allow you to store and retrieve data based on a 'unique key'. The keys must be immutable or unique, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.
      
          syntax:
          dic = {"name":"Saptarshi ", "email":"sappy28guchait@gmail.com", "contact": XXXX}
          #key must be unique in this key are; name, email ,contact.
-----------------------------------------------------------------
Q5.  Why might you use a set instead of a list in Python?
-  Use Set when you want the content should be unique and order of content doesn't matter, while List is used when you need to maintain the order of elements and allow duplicates.
-----------------------------------------------------------------
Q6. What is a string in Python, and how is it different from a list?
-  String is a sequence of data. The main difference is that, String is a immutable data type while list is mutable. Stings data are to be stroed within single(' ') or double quote (" ").
-----------------------------------------------------------------
Q7.  How do tuples ensure data integrity in Python?
-  Tuples are immutable to ensure that their contents remains constant. which means the value will remain unchanged.
-----------------------------------------------------------------
Q8. What is a hash table, and how does it relate to dictionaries in Python?
-  A Hash Table in Python is nothing but a data structure where data is stored in an proper manner. In hash tables, data is stored in an array format, with every data value having an exclusive or unique index value.
-----------------------------------------------------------------
Q9. Can lists contain different data types in Python?
-  Yes, lists can contain the different data types in python. Like, string , integer, bollean, and so on.
-----------------------------------------------------------------
Q10.  Explain why strings are immutable in Python.
-  As we know onces the string value is being assigned to the varible the value cannot be changed or modifed because the value is being assigned in the varible or memory of the system.
-----------------------------------------------------------------
Q11.What advantages do dictionaries offer over lists for certain tasks?
-  The dictionaries stores data as key value pair which helps in retreving the data more effectively.
- where as in lists the data retreiving the index postion has to be given for getting the data fromn the list
          #in dictionaries the retreving of data by using the key i.e. name
          dic = {"name":"Saptarshi", "email":"sappy28guchait@gmail.com", "contact": xxxx}
          dic['name']
          
          #in lists the retreving of data by using the index no.
          list1= [1, 2, 3, 4]
          list[0]
-----------------------------------------------------------------
Q12. Describe a scenario where using a tuple would be preferable over a list.
-  Tuples can be used in the scenario where the value has be remained unchanged

For example
- employee id
- roll no
- account number and many more.
-----------------------------------------------------------------
Q13.How do sets handle duplicate values in Python?
-  Set function is being used to remove duplicate values in python.
          syntax:
          items = ['apple', 'banana', 'apple', 'onion', 'apple']
          set1 = (set(items))
          print(set1)
-----------------------------------------------------------------
Q14.How does the “in” keyword work differently for lists and dictionaries?
-  "in" keyword in list are usefull to find whether the element is present in the list or not
          example:
          my_list = ["Apple", "Banana", "orange"]
          my_list
          'Apple' in my_list
          
          output:
                 True
- "in" operator in dictonaries are used in zip function it tells you whether something appears or not as a key in the dictionary
          example:
          students = ["Raghu", "Madhav", "Shristi"]
          marks = [80, 90, 100]
          {student:marks for student, marks in zip(students, marks)}
-----------------------------------------------------------------
Q15. Can you modify the elements of a tuple? Explain why or why not.
- No, we can not add, remove or modify the elements of a tuple once it is created , because the tuples are immutable data type and once the value being assigned it cannot be modified
-----------------------------------------------------------------
Q16.What is a nested dictionary, and give an example of its use case?
-  In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.
- the most popular use case is in:
    - Restaurants
    - Offices
    - Schools
    - Big companies

            For example:
            student = {
              'R1': {'name': 'A', 'age': 18, 'contact': '1346'},
              'R2': {'name': 'B', 'age': 19, 'contact': '2467'},
              'R3': {'name': 'C', 'age': 21, 'contact': '3579'}
              }
            student['R1']

            output:
                  {'name': 'A', 'age': 18, 'contact': '1346'}
-----------------------------------------------------------------
Q17.Describe the time complexity of accessing elements in a dictionary.
-  The time complexity of inserting a new element into a Python dictionary is typically O(1). This means that the time taken to insert an element into a dictionary is constant, regardless of the size of the dictionary. This is because Python dictionaries use a hash table data structure, which allows for fast insertion, retrieval, and deletion of key-value pairs.
-----------------------------------------------------------------
Q18.In what situations are lists preferred over dictionaries?
-  If you need an ordered collection, like a sequence of user actions, then lists are useful. On the other hand, when you need quick look-ups to user data, dictionaries are invaluable.
- Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
-----------------------------------------------------------------
Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are unordered because Python dictionaries are not programmed to be in order, as simple as that.
-----------------------------------------------------------------
Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key-value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
          For exasmple:
            #in dictionaries the retreving of data by using the key i.e. name
              dic = {"name":"Saptarshi", "email":"sappy28guchait@gmail.com", "contact": XXXX}
              dic['name']
         
          #in lists the retreving of data by using the index no.
            list1= [1, 2, 3, 4]
            list[0]

# Practical Questions

In [1]:
#Practical question
'''
Q1.  Write a code to create a string with your name and print it.

'''
'''
Answere:-1
'''
#in this the name is already defined
name = "Sappy"
print("My name is:", name)

#in this the value can be added by using input function and the value will be stored in the form of string.

my_name = input("Enter your name:")
print("My name is:", my_name)
type(my_name)

My name is: Sappy
Enter your name:SG
My name is: SG

str

In [ ]:
#Practical question
'''
Q2. Write a code to find the length of the string "Hello World".

'''
'''
Answere:-2
'''
quote = "Hello World"
length = len(quote)
print("Length of the string:", length)
#the output includes the total length of string including space

Length of the string: 11

In [ ]:
#Practical question
'''
Q3. Write a code to slice the first 3 characters from the string "Python Programming".

'''
'''
Answere:-3
'''
quote = "Python Programming"
sliced_quote = quote[:3]
print("First 3 characters from the string:", sliced_quote)

First 3 characters from the string: Pyt

In [ ]:
#Practical question
'''
Q4. Write a code to convert the string "hello" to uppercase.

'''
'''
Answere:-4
'''
quote = "hello"
print("Original quote:", quote) #i'm adding this quote to show the difference
uppercase_quote = quote.upper()
print("Uppercase quote:", uppercase_quote)

Original quote: hello
Uppercase quote: HELLO

In [ ]:
#Practical question
'''
Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

'''
'''
Answere:-5
'''
quote = "I like apple"
print("Original string value:", quote)
new_quote = quote.replace("apple", "orange")
print("Replaced string value:" , new_quote)

Original string value: I like apple
Replaced string value: I like orange

In [ ]:
#Practical question
'''
Q6. Write a code to create a list with numbers 1 to 5 and print it.

'''
'''
Answere:-6
'''
my_list = list(range(1,6))
print("My list:", my_list)

My list: [1, 2, 3, 4, 5]

In [ ]:
#Practical question
'''
Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

'''
'''
Answere:-7
'''
my_list = [1, 2, 3, 4]
my_list.append(10)
print("New updated list:", my_list)

New updated list: [1, 2, 3, 4, 10]

In [ ]:
#Practical question
'''
Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

'''
'''
Answere:-8
'''
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [ ]:
#Practical question
'''
Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

'''
'''
Answere:-9
'''
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("second element:" , second_element)

second element: b

In [ ]:
#Practical question
'''
Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

'''
'''
Answere:-10
'''

original_list = [10, 20, 30, 40, 50]

reversed_list = original_list[::-1]

print("Reversed List:", reversed_list)

# there is an another method for reversing the list are :
print(" ")

original_list = [10, 20, 30, 40, 50]
original_list.reverse()
print("Reversed List:", original_list)

# In both the cases the answer will be same.

Reversed List: [50, 40, 30, 20, 10]

Reversed List: [50, 40, 30, 20, 10]

In [ ]:
#Practical question
'''
Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

'''
'''
Answere:-11
'''
my_tuple = (10, 20, 30)
print("My tuple:", my_tuple)
type(my_tuple)

My tuple: (10, 20, 30)

tuple

In [ ]:
#Practical question
'''
Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

'''
'''
Answere:-12
'''
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print("Frist element of the tuple is:", first_element)

Frist element of the tuple is: apple

In [ ]:
#Practical question
'''
Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

'''
'''
Answere:-13
'''
my_tuple = (1, 2, 3, 2, 4, 2)
repeat = my_tuple.count(2)
print("Total times the value '2' appreared in the tuple is:", repeat)

Total times the value '2' appreared in the tuple is: 3

In [ ]:
#Practical question
'''
Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

'''
'''
Answere:-14
'''
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print("The index of the element 'cat' in the tuple is:", index)

The index of the element 'cat' in the tuple is: 1

In [ ]:
#Practical question
'''
Q15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

'''
'''
Answere:-15
'''
my_tuple = ('apple', 'orange', 'banana')
if  'banana' in my_tuple:
  print("Yes, 'banana' is in the tuple")
else:
  print("No, 'banana' is not in the tuple")

Yes, 'banana' is in the tuple

In [ ]:
#Practical question
'''
Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

'''
'''
Answere:-16
'''
my_set = {1, 2, 3, 4, 5}
print("My set of elements are:", my_set)
type(my_set)

My set of elements are: {1, 2, 3, 4, 5}

set

In [ ]:
#Practical question
'''
Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

'''
'''
Answere:-17
'''
my_set ={1, 2, 3, 4}
print("Original set:", my_set)
my_set.add(6)
print("Updated set:", my_set)

Original set: {1, 2, 3, 4}
Updated set: {1, 2, 3, 4, 6}

In [ ]:
#Practical question
'''
Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

'''
'''
Answere:-18
'''
my_tuple = (10, 20, 30)
print("My tuple:", my_tuple)
type(my_tuple)

My tuple: (10, 20, 30)

tuple

In [ ]:
#Practical question
'''
Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

'''
'''
Answere:-19
'''
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print("Frist element of the tuple is:", first_element)

Frist element of the tuple is: apple

In [ ]:
#Practical question
'''
Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

'''
'''
Answere:-20
'''
my_tuple = (1, 2, 3, 2, 4, 2)
repeat = my_tuple.count(2)
print("Total times the value '2' appreared in the tuple is:", repeat)

Total times the value '2' appreared in the tuple is: 3

In [ ]:
#Practical question
'''
Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

'''
'''
Answere:-21
'''
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print("The index of the element 'cat' in the tuple is:", index)

The index of the element 'cat' in the tuple is: 1

In [ ]:
#Practical question
'''
Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

'''
'''
Answere:-22
'''
my_tuple = ('apple', 'orange', 'banana')
if  'banana' in my_tuple:
  print("Yes, 'banana' is in the tuple")
else:
  print("No, 'banana' is not in the tuple")

Yes, 'banana' is in the tuple

In [ ]:
#Practical question
'''
Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

'''
'''
Answere:-23
'''
my_set = {1, 2, 3, 4, 5}
print("My set of elements are:", my_set)
type(my_set)

My set of elements are: {1, 2, 3, 4, 5}

set

In [ ]:
#Practical question
'''
Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

'''
'''
Answere:-24
'''
my_set ={1, 2, 3, 4}
print("Original set:", my_set)
my_set.add(6)
print("Updated set:", my_set)

Original set: {1, 2, 3, 4}
Updated set: {1, 2, 3, 4, 6}